section {
    padding: 9.5rem 0;

    &.banner {
        height: 100vh;
        padding: var(--siteHeaderHeight) 0 2.5rem;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;

        @include media-breakpoint-down(md) {
            height: 80rem;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.096) 20%,
                rgba(0, 0, 0, 0) 100%
            );
            z-index: -1;
        }

        .connect {
            position: absolute;
            right: 0;
            top: calc(var(--siteHeaderHeight) + 25%);

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        p {
            color: $white;
            letter-spacing: 0.1em;
        }
    }

    &.intro {
        .paragraph-style {
            padding-right: 6.4rem;
        }

        .image {
            padding-right: 9%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 9%;
                top: 0;
                height: 100%;
                width: 13.6%;
                background: $primary-transparent;
                transition: 0.3s;
                transition-delay: 0.15s;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -17%;
                right: -5%;
                width: 54.255%;
                height: 61.84%;
                background-image: url("../images/intro-pattern.png");
                background-position: center;
                z-index: -1;
                transition: 0.3s;
                background-size: 2rem;
            }

            &:hover {
                &::after {
                    width: 15%;
                }

                &::before {
                    transform: translateX(3px) translateY(3px);
                }
            }
        }

        .intro-stencil {
            margin-top: 7.5rem;
            @include media-breakpoint-up(down) {
                margin-top: 3.5rem;
            }
            a {
                display: flex;
                &::before {
                    @include media-breakpoint-up(sm) {
                        width: calc(50% - calc(var(--bs-gutter-x) * 2));
                    }
                }
            }
        }
    }

    &.facilities {
        position: relative;
        z-index: 1;
        padding: 14.5rem 0;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
            opacity: 0.6;
            z-index: -1;
        }

        .facilities-grid {
            @include media-breakpoint-up(lg) {
                padding-left: 5.5rem;
            }
            @include media-breakpoint-down(lg) {
                padding-top: 5.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }
            & > .row > div {
                background-color: $primary-transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                &:hover {
                    background: $primary;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 7rem;
                }
                &:nth-child(even) {
                    background-color: $purple-transparent;
                    &:hover {
                        background: $purple;
                    }
                }

                @include media-breakpoint-down(md) {
                    background-color: $primary-transparent;
                    &:hover {
                        background: $primary;
                    }
                    &:nth-child(4n) {
                        background-color: $primary-transparent;
                        &:hover {
                            background: $primary;
                        }
                    }
                    &:nth-child(3n) {
                        background-color: $purple-transparent;
                        &:hover {
                            background: $purple;
                        }
                    }
                }

                p {
                    font-size: $font-size-medium;
                }
            }
        }
    }

    &.dining {
        .item {
            .text {
                padding: 3.5rem 6rem 6rem 0;
                max-width: 80%;
                margin-top: -8rem;
                position: relative;
                z-index: 1;
                background-color: $white;
                @include media-breakpoint-down(sm) {
                    max-width: 87%;
                    padding-right: 3.2rem;
                }
            }
        }
    }

    &.happy-clients {
        .slider {
            .item {
                padding: 0 1.5rem;

                p {
                    font-size: $font-size-base;
                }
                .wrap {
                    padding: 3.5rem 3rem;
                    border-radius: 5px;
                    background: $white;
                }

                .rating {
                    padding-bottom: 2.5rem;
                }

                .profile {
                    padding-top: 3.5rem;
                    display: flex;
                    align-items: center;
                    .pic {
                        display: inline-block;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 1.5rem;
                    }

                    p {
                        margin: 0;
                        color: $gray-light;
                        &.name {
                            color: $black;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}
